{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{album}} info</title>
</head>
<body>
    <p>{{album}}</p>
    <p>{{album.artist}}</p>
    <p>Added: {{album.published_date}}</p>
    <form method="DELETE">
        <fieldset>
            <button type="submit">Delete Album</button>
        </fieldset>
    </form>
    <form method="UPDATE">
        <fieldset>
            <button type="submit">Delete Album</button>
        </fieldset>
    </form>
</body>
</html>